@model IEnumerable<Almacén.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Locations.LocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Locations.LocName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdId })
        </td>
    </tr>
}

</table>
